body {
padding: 0px;
margin: 0px;
}

@media (max-width: 768px) {
  #map {
      width: 100%; /* Full width */
      height: 400px; /* Adjust based on your preference */
  }
}

.legend {
  position: bottomright;
  background-color: white;
  padding: 10px;
  font-size: 12px;
  line-height: 18px;
  color: #555555;
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-box {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.legend-box--green {
  background-color: green;
}

.legend-box--yellow {
  background-color: yellow;
}

.legend-box--orange {
  background-color: orange;
}

.legend-box--blue {
  background-color: blue;
}
